.vertical-wrapper {
    padding: 5px;

    .react-tree-search-input{
        margin-bottom: 10px;
    }
    .vertical-dropdown {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        max-height: 300px;
        overflow: auto;
    }

}

.vertical-options-children-container {
    padding-left: 25px;
}
.vertical-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    .arrow-container{
        margin-right: 2px;

        .arrow {
            width: 10px;
        }
    }
}
